
.Form {
    background-color: rgb(240, 13, 153);
    padding: 2rem;
    border: 3px solid rgb(10, 10, 10);
    margin-left: 4px;
    margin-top: 1rem;
  
  }
 
  .message-box {
    background-color: rgb(247, 230, 241);
    padding: 2rem;
    border: 3px solid rgb(245, 3, 164);
  }
  .msg-box{
    margin-top: 5rem;
    margin-left: 10rem;
  }
  .lable {
    margin: 1rem;
  }
  .Button{
    margin-left: -9rem;
    margin-top: 1rem;
  }
  .checkbox{
    margin-left: 4rem;
  }
.Form-lable{
  margin-top: -31rem;
  background-color: rgb(112, 228, 228);

}
.Form{
  /* margin-top:-13rem; */
  margin-top: 2rem;
  background-image: url("https://technext.github.io/eflyer/images/banner-bg.png");
}