.h1{
    color: black;
}
/* .cards{
  margin-top: -27rem;
  margin-left: 17rem;
  margin-bottom: 30rem;
} */
.carasole{
  background-image: url("https://technext.github.io/eflyer/images/banner-bg.png");
}
.carsal{
margin-top: 15rem;
}