.menu {
    width: 25px;
    height: 4px;
    background-color: rgb(250, 246, 246);
    margin: 6px 0;
}

.logo-img {
    margin-left: 1rem;
}

.icon {
    color: azure;
    display: flex;
    font-size: 2rem;
    margin-right: -3rem;

}

.sub-icon {
    margin: 1rem;
}