.top {
    background-color: rgb(121, 182, 240);
}

.body {
    border-radius: 40px;
    background: linear-gradient(145deg, #dde2dc, #ffffff);
    box-shadow: 13px 13px 26px rgb(121, 182, 240),
        -13px -13px 26px #ffffff;
}

.title {
    border-radius: 40px;
    background: linear-gradient(145deg, #dde2dc, #ffffff);
    box-shadow: 13px 13px 26px #484949,
        -13px -13px 26px #ffffff;
    margin-left: 8rem;
}

.menu {
    background-color: #85e2ee;
    color: black;
}

.ofBody {
    background-image: url("https://i.pinimg.com/originals/ab/23/7b/ab237b547cbfc50e4816c8907686a1c2.jpg");
}

/*create dropdown*/

.d-items:hover {
    color: aqua;

}
.m-title{
    color: #dde2dc;
    font-weight: 4rem;
    font-size: 2rem;
}
.items {
    text-decoration: none;
    font-size: 20px;
    color: #030303;
    list-style: none;
    padding-left: 1rem;
    border-radius: 50px;
    background: #06bcf3;
    /* box-shadow: inset 21px 21px 42px #f5f8f4,
        inset -21px -21px 42px #efffcd; */
    box-shadow: 27px 27px 54px #06aa97,
        -27px -27px 54px #0cffff;
}