
/* .bottom li:hover {
    animation: anim2 500ms cubic-bezier(0.175, 0.885, 0.32, 0.275) infinite;
    background-color: rgb(161, 243, 172);
}

@keyframes anim2 {
    0% {
        opacity: 1;
        transform: translateY(px);
    }

    25% {
        opacity: 0;
        transform: translateY(-10px);
    }

    50% {
        opacity: 1;
        transform: translateY(0px);
    }

    75% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */
.bottom {
    list-style: none;
    color: rgb(3, 3, 3);
    display: flex;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.bottom li:after,
.bottom li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
}

.bottom li:after {
  width: 0%;
  height: 40%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}

.bottom li:before {
  width: 40%;
  height: 0%;
  border-left: 2px solid rgb(44, 42, 42);
  border-right: 2px solid rgb(82, 80, 80);
  transition: all 0.5s ease;
}

.bottom li:hover::after {
  border-color: #85f566;
  width: 60%;
}

.bottom li:hover::before {
  width: 40%;
}
.b-text {
    margin: 1rem;
}

/* hover bottombar*/


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: display;
    margin: 0;
}

/* .navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: darkgreen;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 28px;
    background: #9eec88;
    box-shadow: inset 21px 21px 42px #4d7443,
        inset -21px -21px 42px #efffcd;
}

.dropdown-content a {
    float: none;
    color: rgb(239, 239, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border-radius: 28px;
    background: #9eec88;
    box-shadow: inset 21px 21px 42px #f5f8f4,
        inset -21px -21px 42px #efffcd;}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 1rem;
}

